<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <p> Signed in as: User</p>
    <img class="logo" src="{{url_for('static', filename='images/Logo_cropped.png')}}" width="400"> <br>

    <h2> Welcome to the Learning App Home Page</h2>

    <div>
        <h2>Learning Applications</h2>
        <hr>
        <a href="{{ url_for('multiplication') }}"> Multiplication </a> <br>
        <a href="{{ url_for('division') }}"> Division </a> <br>
        <a href="{{ url_for('addition') }}"> Addition </a> <br>
        <a href="{{ url_for('subtraction') }}"> Subtraction </a> <br>
        <hr>

    </div>



</body>
</html>